<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="RSYSLOG_PORT" value="9516"/>
    <property name="RSYSLOG_HOST" value="172.18.20.16"/>
    <property name="LOG_HOME" value="/data/logs/shipping"/>

    <property name="MSG_PATTERN" value="%d{ISO8601} -- %msg%n"/>
    <property name="NORMAL_PATTERN" value="%d{ISO8601} shipping:%-5level -- %-50.50logger -- %msg%n"/>
    <property name="SERIOUS_PATTERN" value="%d{ISO8601} [%-16.16thread] shipping:%-5level -- %-60.60class [%4line] -- %msg%n"/>
    <property name="LOG_PATTERN" value="%msg%n"/>

    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>${LOG_HOME}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>-->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info.%d{yyyyMMdd}.log.zip</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${NORMAL_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- special level -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.log.zip</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SYSLOG-NORMAL" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <syslogHost>${RSYSLOG_HOST}</syslogHost>
        <port>${RSYSLOG_PORT}</port>
        <facility>LOCAL1</facility>
        <suffixPattern>${NORMAL_PATTERN}</suffixPattern>
    </appender>

    <appender name="SYSLOG-SERIOUS" class="ch.qos.logback.classic.net.SyslogAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <syslogHost>${RSYSLOG_HOST}</syslogHost>
        <port>${RSYSLOG_PORT}</port>
        <facility>LOCAL1</facility>
        <suffixPattern>${SERIOUS_PATTERN}</suffixPattern>
    </appender>


    <!-- 记录详细日志(运营数据分析) begin -->
    <appender name="api_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stat/current/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/stat/history/api.%d{yyyyMMdd}.log.zip</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="api" level="INFO" additivity="false">
        <appender-ref ref="api_log"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>


    <!-- 记录支付后Notify日志 begin -->
    <appender name="notify_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stat/current/notify.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/stat/history/notify.%d{yyyyMMdd}.log.zip</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${NORMAL_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 记录支付后Notify日志 end -->


    <!-- 记录详细日志(运营数据分析) end -->
    <!-- for debug , developers. -->
    <logger name="com.google.code" level="ERROR">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>
    <!--<logger name="org.springframework" level="DEBUG">
        <appender-ref ref="DEBUG"/>
    </logger>-->
    <logger name="org.apache" level="ERROR">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>
    <logger name="org.dbunit" level="ERROR">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>
    <logger name="org.quartz" level="ERROR">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>
    <logger name="net.sf.ehcache" level="ERROR">
        <appender-ref ref="ERROR"/>
        <appender-ref ref="SYSLOG-NORMAL"/>
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </logger>
    <!-- for debug , developers. end -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="DEBUG"/>-->
        <appender-ref ref="INFO"/>
        <!-- APP_ERROR: WARN ERROR OFF -->
        <appender-ref ref="ERROR"/>
        <!--SYSLOG-SERIOUS-->
        <appender-ref ref="SYSLOG-SERIOUS"/>
    </root>
</configuration>